# maxHours : max lifetime for the irodsAgent process (unit: hours).
#            default = 168 hours (7 days)
# listException : list of iRODS clients for which we 
#                 do not wish to kill the corresponding 
#                 irodsAgent under any circumstances.
#                 The list of clients should be given with commas
#                 being used as a separator.
#                 default = "".
# Comment out the following lines if you wish to change the default values.
maxHours=0
listException=iput,ips
