*~
*.pyc
*.so
.depends
iRODS/.client_cflags
iRODS/.client_ldflags
iRODS/.server_cflags
iRODS/.server_ldflags
iRODS/config/config.mk
iRODS/config/irods.config
iRODS/config/platform.mk
iRODS/lib/core/include/irods_auth_home.hpp
iRODS/lib/core/include/irods_ms_home.hpp
iRODS/lib/core/include/irods_network_home.hpp
iRODS/lib/core/include/irods_resources_home.hpp
iRODS/server/config/server.config
iRODS/server/re/include/reAction.hpp
packaging/irods.list
packaging/irods-dev.list
packaging/irods-icommands.list
plugins/auth/*/.deps
plugins/auth/*/.objs
plugins/network/*/.deps
plugins/network/*/.objs
plugins/resources/Makefile
plugins/resources/*/.deps
plugins/resources/*/.objs
plugins/resources/hpss/Makefile
plugins/resources/compound/Makefile
plugins/resources/mockarchive/Makefile
plugins/resources/nonblocking/Makefile
plugins/resources/passthru/Makefile
plugins/resources/random/Makefile
plugins/resources/replication/Makefile
plugins/resources/roundrobin/Makefile
plugins/resources/structfile/Makefile
plugins/resources/univmss/Makefile
plugins/resources/unixfilesystem/Makefile
plugins/resources/wos/Makefile
plugins/resources/woscoordinator/Makefile
