*~
*.pyc
*.so
.depends
iRODS/.client_cflags
iRODS/.client_ldflags
iRODS/.server_cflags
iRODS/.server_ldflags
iRODS/config/config.mk
iRODS/config/irods.config
iRODS/config/platform.mk
iRODS/lib/core/include/eirods_ms_home.h
iRODS/lib/core/include/eirods_network_home.h
iRODS/lib/core/include/eirods_resources_home.h
iRODS/server/config/server.config
iRODS/server/re/include/reAction.h
packaging/eirods.list
packaging/eirods-dev.list
packaging/eirods-icommands.list
plugins/network/*/.deps
plugins/network/*/.objs
plugins/resources/Makefile
plugins/resources/*/.deps
plugins/resources/*/.objs
plugins/resources/hpss/Makefile
plugins/resources/compound/Makefile
plugins/resources/mockarchive/Makefile
plugins/resources/nonblocking/Makefile
plugins/resources/passthru/Makefile
plugins/resources/random/Makefile
plugins/resources/replication/Makefile
plugins/resources/roundrobin/Makefile
plugins/resources/structfile/Makefile
plugins/resources/univmss/Makefile
plugins/resources/unixfilesystem/Makefile
plugins/resources/wos/Makefile
plugins/resources/woscoordinator/Makefile
