tags
.dir-locals.el
.project
.cproject
*.swp
*.pyc
*.un~
*.swp~
*.~undo-tree~

# iRODS
/irods_schema_messaging
packaging/unattended_setup.json

# clangd
.cache/
.clangd/

# CMake
CMakeLists.txt.user
compile_commands.json

# YouCompleteMe
.ycm_extra_conf.py
