# This file defines the configuration for the optional 
# Database Resources also known as external databases or
# table driven resources.

# See the 'Database Resources' page on the irods web site for more.

# Each input line is a set of 4 or 5 items, space delimited,
# consisting of DBR name, database username, database user password,
# database type, and optional scramble key.  If present, the scramble
# key is used to unscramble the password (see iadmin for 
# scramble/descramble commands).
# The database types are the strings: postgresql, oracle, or mysql.

# For oracle, the username is username@connect_identifier like you would
# use with sqlplus, for example:
# % sqlplus irods_test@srb_rac
# [...]
# Enter password: 
#
# Also, if you need to bypass tnsnames.ora (network configuration in
# oracle) and connect straight to oracle, you can include the port and
# database in the user name, as per the Oracle convention. For
# example:
# irods_test@srb_rac:1521/XE

# See the 'Database Resources' page on the irods web site for more.

# Example (if uncommented):
#dbr1 schroeder dbpasswd postgresql
#dbro irods_test@srb_rac dbpasswd oracle
