# This file defines the configuration for the optional 
# Rule-oriented Databaase Access feature.

# To use RDA, the admin must define on one or more entries in this
# file and set up a corresponding section in the odbc.ini.

# Each input line is a set of 3 or 4 items, space delimited,
# consisting of rdaName, database username, database user password,
# and optional scramble key.  If present, the scramble key is used to
# unscramble the password (see iadmin for scramble/descramble
# commands).

# The rdaName is what is visible to users.  The RDA microservices are
# called with the rdaName and the corresponding username and password
# are used (if the irods user has access permission).

# Example (if uncommented):
#RDA   schroede  dbpasswd
