# This file defines the configuration for the local Server/Agent.
# Each input line is a keyword/value pair. 
# Keywords supported are:
# icatHost - the address of the master icat host
# slaveIcatHost - the address of the slave Icat host (optional)
# reHost - This is only needed if the irods system is using more than one
#   master icat enabled servers. This points to the master icat host that will
#   run the irodsReServer.  Note that if "reHost" is used,
# xmsgHost - the address of the irodsXmsgServer host. If this line is not
#   specified, no irodsXmsgServer will be started.
# The same configuration needs to be applied to all servers.
#
# For RCAT-Enabled hosts:
# DBPassword - the database password
# DBUsername - the database admin username
#
# More keywords will be supported as we move forward.
icatHost zuri.sdsc.edu
# slaveIcatHost srbbrick9.sdsc.edu
# reHost srbbrick10.sdsc.edu
# xmsgHost one.ucsd.edu
DBUsername schroede
#
# The following keywords are needed for Rule Engine Initialization.
# reRuleSet holds a comma-separated list of iRODS Rule Base (.irb) files 
#    to be used by the Rule Engine
# reFuncMapSet  holds a comma-separated list of Function Name Mapping (.fnm) 
#    files to be used by the Rule Engine
# reVariableMapSet  holds a comma-separated list of Data Variable Mapping (.dvm)
#    files to be used by the Rule Engine
reRuleSet   core
reFuncMapSet  core
reVariableMapSet  core
#
# For Kerberos, define the principal name in the server-side Keytab file
# For example, for host zuri.unc.edu in the Kerberos domain UNC.EDU:
# KerberosName irods/zuri.unc.edu@UNC.EDU
