#ifndef IRODS_VERSION_H
#define IRODS_VERSION_H

#define IRODS_VERSION_MAJOR             TEMPLATE_IRODS_VERSION_MAJOR
#define IRODS_VERSION_MINOR             TEMPLATE_IRODS_VERSION_MINOR
#define IRODS_VERSION_POINT             TEMPLATE_IRODS_VERSION_POINT

#define IRODS_BUILD_DATE_STRING         "TEMPLATE_IRODS_BUILD_DATE_STRING"

#endif  /* IRODS_VERSION_H */
