# =-=-=-=-=-=-=-
# EPM Variables
# =-=-=-=-=-=-=-
%product Enterprise iRODS - Development Library
%copyright 2012-2013 by Renaissance Computing Institute, All Rights Reserved.
%vendor Renaissance Computing Institute <info@eirods.org>
%license LICENSE
%readme README
%description Enterprise edition of the Integrated Rule Oriented Data System
%version TEMPLATE_EIRODSVERSION TEMPLATE_EPMEIRODSVERSION




# =-=-=-=-=-=-=-
# Required Packages for specific systems
# and
# Setting environment variables for EPM
# =-=-=-=-=-=-=-


%elseif REDHATRPM
$REDHAT=true
$RPM=true

%elseif SUSERPM
$SUSE=true
$RPM=true

%endif



%if DEB
%requires libc6
%endif




%format all



# =-=-=-=-=-=-=-
# preinstall
# =-=-=-=-=-=-=-
#%preinstall 




# =-=-=-=-=-=-=-
# post install
# =-=-=-=-=-=-=-
#%postinstall


# =-=-=-=-=-=-=-
# preremove
# =-=-=-=-=-=-=-
#%preremove 




# =-=-=-=-=-=-=-
# post remove
# =-=-=-=-=-=-=-
#%postremove 





# =-=-=-=-=-=-=-
# Full File Listing
# =-=-=-=-=-=-=-

f 644 root root /usr/lib/libeirods.a ./libeirods.a

d 755 root root /usr/include/eirods/
f 644 root root /usr/include/eirods/ ./iRODS/lib/core/include/*.h
f 644 root root /usr/include/eirods/ ./iRODS/lib/api/include/*.h
f 644 root root /usr/include/eirods/ ./iRODS/lib/md5/include/*.h 
f 644 root root /usr/include/eirods/ ./iRODS/server/core/include/*.h 
f 644 root root /usr/include/eirods/ ./iRODS/server/icat/include/*.h
f 644 root root /usr/include/eirods/ ./iRODS/server/re/include/*.h
f 644 root root /usr/include/eirods/ ./iRODS/server/drivers/include/*.h

d 755 root root /usr/share/eirods/
d 755 root root /usr/share/eirods/examples
d 755 root root /usr/share/eirods/examples/microservices
d 755 root root /usr/share/eirods/examples/resources
f 644 root root /usr/share/eirods/examples/microservices ./examples/microservices/*
f 644 root root /usr/share/eirods/examples/resources ./examples/resources/*



