# =-=-=-=-=-=-=-
# EPM Variables
# =-=-=-=-=-=-=-
%product iRODS - Development Library
%copyright 2012-2014 by Renaissance Computing Institute, All Rights Reserved.
%vendor Renaissance Computing Institute <info@irods.org>
%license LICENSE
%readme README
%description The integrated Rule-Oriented Data System
%version TEMPLATE_IRODSVERSION TEMPLATE_IRODSVERSIONINT


%requires irods-runtime


# =-=-=-=-=-=-=-
# Required Packages for specific systems
# and
# Setting environment variables for EPM
# =-=-=-=-=-=-=-

%if OSXICAT
$OSX=true
$ICAT=true

%elseif OSXRESOURCE
$OSX=true
$RESOURCE=true
%endif

%if DEB
%requires libc6
%endif

%format all



# =-=-=-=-=-=-=-
# preinstall
# =-=-=-=-=-=-=-
#%preinstall




# =-=-=-=-=-=-=-
# post install
# =-=-=-=-=-=-=-
#%postinstall


# =-=-=-=-=-=-=-
# preremove
# =-=-=-=-=-=-=-
#%preremove




# =-=-=-=-=-=-=-
# post remove
# =-=-=-=-=-=-=-
#%postremove





# =-=-=-=-=-=-=-
# Full File Listing
# =-=-=-=-=-=-=-

f 644 root root /usr/lib/irods/libRodsAPIs.a ./iRODS/lib/core/obj/libRodsAPIs.a
f 644 root root /usr/lib/irods/libirods_client.a ./libirods_client.a
f 644 root root /usr/lib/irods/libirods_client_api.a ./libirods_client_api.a
f 644 root root /usr/lib/irods/libirods_server.a ./libirods_server.a

d 755 root root /usr/include/irods/ -
f 644 root root /usr/include/irods/ ./iRODS/lib/core/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/lib/api/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/lib/md5/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/lib/sha1/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/lib/rbudp/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/server/core/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/server/icat/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/server/re/include/*.hpp
f 644 root root /usr/include/irods/ ./iRODS/server/drivers/include/*.hpp

d 755 root root /usr/share/irods/ -
d 755 root root /usr/share/irods/examples
d 755 root root /usr/share/irods/examples/microservices
d 755 root root /usr/share/irods/examples/resources
f 644 root root /usr/share/irods/examples/microservices ./examples/microservices/*
f 644 root root /usr/share/irods/examples/resources ./examples/resources/*
f 644 root root /usr/share/irods/examples/resources/libpassthru.cpp ./plugins/resources/passthru/libpassthru.cpp



d 755 root root /usr/include/irods/boost/libs/wave/samples/hannibal -
f 644 root root /usr/include/irods/boost/libs/wave/samples/hannibal/  ./external/boost_1_56_0/libs/wave/samples/hannibal/*
d 755 root root /usr/include/irods/boost/libs/python/pyste/tests -
f 644 root root /usr/include/irods/boost/libs/python/pyste/tests/  ./external/boost_1_56_0/libs/python/pyste/tests/*
d 755 root root /usr/include/irods/boost/libs/coroutine/example/cpp03/asymmetric -
f 644 root root /usr/include/irods/boost/libs/coroutine/example/cpp03/asymmetric/  ./external/boost_1_56_0/libs/coroutine/example/cpp03/asymmetric/*
d 755 root root /usr/include/irods/boost/libs/coroutine/example/cpp11/asymmetric -
f 644 root root /usr/include/irods/boost/libs/coroutine/example/cpp11/asymmetric/  ./external/boost_1_56_0/libs/coroutine/example/cpp11/asymmetric/*
d 755 root root /usr/include/irods/boost/libs/math/quaternion -
f 644 root root /usr/include/irods/boost/libs/math/quaternion/  ./external/boost_1_56_0/libs/math/quaternion/*
d 755 root root /usr/include/irods/boost/libs/math/dot_net_example/boost_math -
f 644 root root /usr/include/irods/boost/libs/math/dot_net_example/boost_math/  ./external/boost_1_56_0/libs/math/dot_net_example/boost_math/*
d 755 root root /usr/include/irods/boost/libs/chrono/test -
f 644 root root /usr/include/irods/boost/libs/chrono/test/  ./external/boost_1_56_0/libs/chrono/test/*
d 755 root root /usr/include/irods/boost/libs/variant/test -
f 644 root root /usr/include/irods/boost/libs/variant/test/  ./external/boost_1_56_0/libs/variant/test/*
d 755 root root /usr/include/irods/boost/libs/graph/example -
f 644 root root /usr/include/irods/boost/libs/graph/example/  ./external/boost_1_56_0/libs/graph/example/*
d 755 root root /usr/include/irods/boost/libs/preprocessor/test -
f 644 root root /usr/include/irods/boost/libs/preprocessor/test/  ./external/boost_1_56_0/libs/preprocessor/test/*
d 755 root root /usr/include/irods/boost/libs/msm/doc/HTML/examples -
f 644 root root /usr/include/irods/boost/libs/msm/doc/HTML/examples/  ./external/boost_1_56_0/libs/msm/doc/HTML/examples/*
d 755 root root /usr/include/irods/boost/libs/msm/doc/PDF/examples -
f 644 root root /usr/include/irods/boost/libs/msm/doc/PDF/examples/  ./external/boost_1_56_0/libs/msm/doc/PDF/examples/*
d 755 root root /usr/include/irods/boost/libs/spirit/test/lex -
f 644 root root /usr/include/irods/boost/libs/spirit/test/lex/  ./external/boost_1_56_0/libs/spirit/test/lex/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/  ./external/boost_1_56_0/tools/build/src/engine/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/cord -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/cord/  ./external/boost_1_56_0/tools/build/src/engine/boehm_gc/cord/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/  ./external/boost_1_56_0/tools/build/src/engine/boehm_gc/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/Mac_files -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/Mac_files/  ./external/boost_1_56_0/tools/build/src/engine/boehm_gc/Mac_files/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/include -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/include/  ./external/boost_1_56_0/tools/build/src/engine/boehm_gc/include/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/include/private -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/include/private/  ./external/boost_1_56_0/tools/build/src/engine/boehm_gc/include/private/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/include -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/boehm_gc/include/  ./external/boost_1_56_0/tools/build/src/engine/boehm_gc/include/*
d 755 root root /usr/include/irods/boost/tools/build/src/engine -
f 644 root root /usr/include/irods/boost/tools/build/src/engine/  ./external/boost_1_56_0/tools/build/src/engine/*
d 755 root root /usr/include/irods/boost/tools/build/example/libraries/util/foo/include -
f 644 root root /usr/include/irods/boost/tools/build/example/libraries/util/foo/include/  ./external/boost_1_56_0/tools/build/example/libraries/util/foo/include/*
d 755 root root /usr/include/irods/boost/tools/build/example/qt/qt4/hello -
f 644 root root /usr/include/irods/boost/tools/build/example/qt/qt4/hello/  ./external/boost_1_56_0/tools/build/example/qt/qt4/hello/*
d 755 root root /usr/include/irods/boost/tools/build/example/qt/qt3/hello -
f 644 root root /usr/include/irods/boost/tools/build/example/qt/qt3/hello/  ./external/boost_1_56_0/tools/build/example/qt/qt3/hello/*
d 755 root root /usr/include/irods/boost/tools/build/test/railsys/program/include -
f 644 root root /usr/include/irods/boost/tools/build/test/railsys/program/include/  ./external/boost_1_56_0/tools/build/test/railsys/program/include/*
d 755 root root /usr/include/irods/boost/tools/build/test/railsys/libx/include -
f 644 root root /usr/include/irods/boost/tools/build/test/railsys/libx/include/  ./external/boost_1_56_0/tools/build/test/railsys/libx/include/*
d 755 root root /usr/include/irods/boost/tools/build/test/qt4 -
f 644 root root /usr/include/irods/boost/tools/build/test/qt4/  ./external/boost_1_56_0/tools/build/test/qt4/*
d 755 root root /usr/include/irods/boost/tools/build/test/prebuilt/ext/release -
f 644 root root /usr/include/irods/boost/tools/build/test/prebuilt/ext/release/  ./external/boost_1_56_0/tools/build/test/prebuilt/ext/release/*
d 755 root root /usr/include/irods/boost/tools/build/test/prebuilt/ext/debug -
f 644 root root /usr/include/irods/boost/tools/build/test/prebuilt/ext/debug/  ./external/boost_1_56_0/tools/build/test/prebuilt/ext/debug/*
d 755 root root /usr/include/irods/boost/tools/build/test/qt5 -
f 644 root root /usr/include/irods/boost/tools/build/test/qt5/  ./external/boost_1_56_0/tools/build/test/qt5/*
d 755 root root /usr/include/irods/boost/boost/python/detail -
f 644 root root /usr/include/irods/boost/boost/python/detail/  ./external/boost_1_56_0/boost/python/detail/*
d 755 root root /usr/include/irods/boost/boost -
f 644 root root /usr/include/irods/boost/boost/  ./external/boost_1_56_0/boost/*
d 755 root root /usr/include/irods/boost/boost/tr1/tr1/bcc32 -
f 644 root root /usr/include/irods/boost/boost/tr1/tr1/bcc32/  ./external/boost_1_56_0/boost/tr1/tr1/bcc32/*
d 755 root root /usr/include/irods/boost/boost/predef -
f 644 root root /usr/include/irods/boost/boost/predef/  ./external/boost_1_56_0/boost/predef/*
d 755 root root /usr/include/irods/boost/boost/predef/other -
f 644 root root /usr/include/irods/boost/boost/predef/other/  ./external/boost_1_56_0/boost/predef/other/*
d 755 root root /usr/include/irods/boost/boost/predef -
f 644 root root /usr/include/irods/boost/boost/predef/  ./external/boost_1_56_0/boost/predef/*
d 755 root root /usr/include/irods/boost/boost/predef/architecture -
f 644 root root /usr/include/irods/boost/boost/predef/architecture/  ./external/boost_1_56_0/boost/predef/architecture/*
d 755 root root /usr/include/irods/boost/boost/predef/architecture/x86 -
f 644 root root /usr/include/irods/boost/boost/predef/architecture/x86/  ./external/boost_1_56_0/boost/predef/architecture/x86/*
d 755 root root /usr/include/irods/boost/boost/predef/architecture -
f 644 root root /usr/include/irods/boost/boost/predef/architecture/  ./external/boost_1_56_0/boost/predef/architecture/*
d 755 root root /usr/include/irods/boost/boost/predef/library -
f 644 root root /usr/include/irods/boost/boost/predef/library/  ./external/boost_1_56_0/boost/predef/library/*
d 755 root root /usr/include/irods/boost/boost/predef/library/c -
f 644 root root /usr/include/irods/boost/boost/predef/library/c/  ./external/boost_1_56_0/boost/predef/library/c/*
d 755 root root /usr/include/irods/boost/boost/predef/library -
f 644 root root /usr/include/irods/boost/boost/predef/library/  ./external/boost_1_56_0/boost/predef/library/*
d 755 root root /usr/include/irods/boost/boost/predef/library/std -
f 644 root root /usr/include/irods/boost/boost/predef/library/std/  ./external/boost_1_56_0/boost/predef/library/std/*
d 755 root root /usr/include/irods/boost/boost/predef -
f 644 root root /usr/include/irods/boost/boost/predef/  ./external/boost_1_56_0/boost/predef/*
d 755 root root /usr/include/irods/boost/boost/predef/detail -
f 644 root root /usr/include/irods/boost/boost/predef/detail/  ./external/boost_1_56_0/boost/predef/detail/*
d 755 root root /usr/include/irods/boost/boost/predef -
f 644 root root /usr/include/irods/boost/boost/predef/  ./external/boost_1_56_0/boost/predef/*
d 755 root root /usr/include/irods/boost/boost/predef/platform -
f 644 root root /usr/include/irods/boost/boost/predef/platform/  ./external/boost_1_56_0/boost/predef/platform/*
d 755 root root /usr/include/irods/boost/boost/predef/compiler -
f 644 root root /usr/include/irods/boost/boost/predef/compiler/  ./external/boost_1_56_0/boost/predef/compiler/*
d 755 root root /usr/include/irods/boost/boost/predef/language -
f 644 root root /usr/include/irods/boost/boost/predef/language/  ./external/boost_1_56_0/boost/predef/language/*
d 755 root root /usr/include/irods/boost/boost/predef -
f 644 root root /usr/include/irods/boost/boost/predef/  ./external/boost_1_56_0/boost/predef/*
d 755 root root /usr/include/irods/boost/boost/predef/os -
f 644 root root /usr/include/irods/boost/boost/predef/os/  ./external/boost_1_56_0/boost/predef/os/*
d 755 root root /usr/include/irods/boost/boost/predef/os/bsd -
f 644 root root /usr/include/irods/boost/boost/predef/os/bsd/  ./external/boost_1_56_0/boost/predef/os/bsd/*
d 755 root root /usr/include/irods/boost/boost/predef/os -
f 644 root root /usr/include/irods/boost/boost/predef/os/  ./external/boost_1_56_0/boost/predef/os/*
d 755 root root /usr/include/irods/boost/boost/container/detail -
f 644 root root /usr/include/irods/boost/boost/container/detail/  ./external/boost_1_56_0/boost/container/detail/*




d 755 root root /usr/include/irods/check/src -
f 644 root root /usr/include/irods/check/src/  ./external/check-0.9.13/src/*
d 755 root root /usr/include/irods/check/tests -
f 644 root root /usr/include/irods/check/tests/  ./external/check-0.9.13/tests/*
d 755 root root /usr/include/irods/check -
f 644 root root /usr/include/irods/check/  ./external/check-0.9.13/*
d 755 root root /usr/include/irods/check/lib -
f 644 root root /usr/include/irods/check/lib/  ./external/check-0.9.13/lib/*
d 755 root root /usr/include/irods/check/doc/example/src -
f 644 root root /usr/include/irods/check/doc/example/src/  ./external/check-0.9.13/doc/example/src/*
d 755 root root /usr/include/irods/check -
f 644 root root /usr/include/irods/check/  ./external/check-0.9.13/*




d 755 root root /usr/include/irods/hdf5/src -
f 644 root root /usr/include/irods/hdf5/src/  ./external/hdf5-1.8.13/src/*
d 755 root root /usr/include/irods/hdf5/c++/src -
f 644 root root /usr/include/irods/hdf5/c++/src/  ./external/hdf5-1.8.13/c++/src/*
d 755 root root /usr/include/irods/hdf5/c++/test -
f 644 root root /usr/include/irods/hdf5/c++/test/  ./external/hdf5-1.8.13/c++/test/*
d 755 root root /usr/include/irods/hdf5/perform -
f 644 root root /usr/include/irods/hdf5/perform/  ./external/hdf5-1.8.13/perform/*
d 755 root root /usr/include/irods/hdf5/vms/src -
f 644 root root /usr/include/irods/hdf5/vms/src/  ./external/hdf5-1.8.13/vms/src/*
d 755 root root /usr/include/irods/hdf5/vms/c++/test -
f 644 root root /usr/include/irods/hdf5/vms/c++/test/  ./external/hdf5-1.8.13/vms/c++/test/*
d 755 root root /usr/include/irods/hdf5/vms/test -
f 644 root root /usr/include/irods/hdf5/vms/test/  ./external/hdf5-1.8.13/vms/test/*
d 755 root root /usr/include/irods/hdf5/test -
f 644 root root /usr/include/irods/hdf5/test/  ./external/hdf5-1.8.13/test/*
d 755 root root /usr/include/irods/hdf5/tools/h5repack -
f 644 root root /usr/include/irods/hdf5/tools/h5repack/  ./external/hdf5-1.8.13/tools/h5repack/*
d 755 root root /usr/include/irods/hdf5/tools/h5import -
f 644 root root /usr/include/irods/hdf5/tools/h5import/  ./external/hdf5-1.8.13/tools/h5import/*
d 755 root root /usr/include/irods/hdf5/tools/h5diff -
f 644 root root /usr/include/irods/hdf5/tools/h5diff/  ./external/hdf5-1.8.13/tools/h5diff/*
d 755 root root /usr/include/irods/hdf5/tools/lib -
f 644 root root /usr/include/irods/hdf5/tools/lib/  ./external/hdf5-1.8.13/tools/lib/*
d 755 root root /usr/include/irods/hdf5/tools/h5dump -
f 644 root root /usr/include/irods/hdf5/tools/h5dump/  ./external/hdf5-1.8.13/tools/h5dump/*
d 755 root root /usr/include/irods/hdf5/testpar -
f 644 root root /usr/include/irods/hdf5/testpar/  ./external/hdf5-1.8.13/testpar/*
d 755 root root /usr/include/irods/hdf5/fortran/src -
f 644 root root /usr/include/irods/hdf5/fortran/src/  ./external/hdf5-1.8.13/fortran/src/*
d 755 root root /usr/include/irods/hdf5/fortran/test -
f 644 root root /usr/include/irods/hdf5/fortran/test/  ./external/hdf5-1.8.13/fortran/test/*
d 755 root root /usr/include/irods/hdf5/hl/src -
f 644 root root /usr/include/irods/hdf5/hl/src/  ./external/hdf5-1.8.13/hl/src/*
d 755 root root /usr/include/irods/hdf5/hl/c++/src -
f 644 root root /usr/include/irods/hdf5/hl/c++/src/  ./external/hdf5-1.8.13/hl/c++/src/*
d 755 root root /usr/include/irods/hdf5/hl/c++/test -
f 644 root root /usr/include/irods/hdf5/hl/c++/test/  ./external/hdf5-1.8.13/hl/c++/test/*
d 755 root root /usr/include/irods/hdf5/hl/test -
f 644 root root /usr/include/irods/hdf5/hl/test/  ./external/hdf5-1.8.13/hl/test/*
d 755 root root /usr/include/irods/hdf5/hl/tools/gif2h5 -
f 644 root root /usr/include/irods/hdf5/hl/tools/gif2h5/  ./external/hdf5-1.8.13/hl/tools/gif2h5/*
d 755 root root /usr/include/irods/hdf5/hl/fortran/src -
f 644 root root /usr/include/irods/hdf5/hl/fortran/src/  ./external/hdf5-1.8.13/hl/fortran/src/*
d 755 root root /usr/include/irods/hdf5/hl/examples -
f 644 root root /usr/include/irods/hdf5/hl/examples/  ./external/hdf5-1.8.13/hl/examples/*




d 755 root root /usr/include/irods/jansson/src -
f 644 root root /usr/include/irods/jansson/src/  ./external/jansson-2.7/src/*
d 755 root root /usr/include/irods/jansson -
f 644 root root /usr/include/irods/jansson/  ./external/jansson-2.7/*
d 755 root root /usr/include/irods/jansson/test/suites/api -
f 644 root root /usr/include/irods/jansson/test/suites/api/  ./external/jansson-2.7/test/suites/api/*
d 755 root root /usr/include/irods/jansson/android -
f 644 root root /usr/include/irods/jansson/android/  ./external/jansson-2.7/android/*




d 755 root root /usr/include/irods/libarchive/tar -
f 644 root root /usr/include/irods/libarchive/tar/  ./external/libarchive-3.1.2/tar/*
d 755 root root /usr/include/irods/libarchive/tar/test -
f 644 root root /usr/include/irods/libarchive/tar/test/  ./external/libarchive-3.1.2/tar/test/*
d 755 root root /usr/include/irods/libarchive/tar -
f 644 root root /usr/include/irods/libarchive/tar/  ./external/libarchive-3.1.2/tar/*
d 755 root root /usr/include/irods/libarchive/libarchive_fe -
f 644 root root /usr/include/irods/libarchive/libarchive_fe/  ./external/libarchive-3.1.2/libarchive_fe/*
d 755 root root /usr/include/irods/libarchive/libarchive -
f 644 root root /usr/include/irods/libarchive/libarchive/  ./external/libarchive-3.1.2/libarchive/*
d 755 root root /usr/include/irods/libarchive/libarchive/test -
f 644 root root /usr/include/irods/libarchive/libarchive/test/  ./external/libarchive-3.1.2/libarchive/test/*
d 755 root root /usr/include/irods/libarchive/libarchive -
f 644 root root /usr/include/irods/libarchive/libarchive/  ./external/libarchive-3.1.2/libarchive/*
d 755 root root /usr/include/irods/libarchive -
f 644 root root /usr/include/irods/libarchive/  ./external/libarchive-3.1.2/*
d 755 root root /usr/include/irods/libarchive/contrib/shar -
f 644 root root /usr/include/irods/libarchive/contrib/shar/  ./external/libarchive-3.1.2/contrib/shar/*
d 755 root root /usr/include/irods/libarchive/test_utils -
f 644 root root /usr/include/irods/libarchive/test_utils/  ./external/libarchive-3.1.2/test_utils/*
d 755 root root /usr/include/irods/libarchive/cpio -
f 644 root root /usr/include/irods/libarchive/cpio/  ./external/libarchive-3.1.2/cpio/*
d 755 root root /usr/include/irods/libarchive/cpio/test -
f 644 root root /usr/include/irods/libarchive/cpio/test/  ./external/libarchive-3.1.2/cpio/test/*
d 755 root root /usr/include/irods/libarchive/cpio -
f 644 root root /usr/include/irods/libarchive/cpio/  ./external/libarchive-3.1.2/cpio/*




d 755 root root /usr/include/irods/netcdf/libdispatch -
f 644 root root /usr/include/irods/netcdf/libdispatch/  ./external/netcdf-4.3.2/libdispatch/*
d 755 root root /usr/include/irods/netcdf/nctest -
f 644 root root /usr/include/irods/netcdf/nctest/  ./external/netcdf-4.3.2/nctest/*
d 755 root root /usr/include/irods/netcdf/oc2 -
f 644 root root /usr/include/irods/netcdf/oc2/  ./external/netcdf-4.3.2/oc2/*
d 755 root root /usr/include/irods/netcdf/ncgen3 -
f 644 root root /usr/include/irods/netcdf/ncgen3/  ./external/netcdf-4.3.2/ncgen3/*
d 755 root root /usr/include/irods/netcdf/nc_test -
f 644 root root /usr/include/irods/netcdf/nc_test/  ./external/netcdf-4.3.2/nc_test/*
d 755 root root /usr/include/irods/netcdf/include -
f 644 root root /usr/include/irods/netcdf/include/  ./external/netcdf-4.3.2/include/*
d 755 root root /usr/include/irods/netcdf/ncdump -
f 644 root root /usr/include/irods/netcdf/ncdump/  ./external/netcdf-4.3.2/ncdump/*
d 755 root root /usr/include/irods/netcdf/libdap2 -
f 644 root root /usr/include/irods/netcdf/libdap2/  ./external/netcdf-4.3.2/libdap2/*
d 755 root root /usr/include/irods/netcdf/h5_test -
f 644 root root /usr/include/irods/netcdf/h5_test/  ./external/netcdf-4.3.2/h5_test/*
d 755 root root /usr/include/irods/netcdf/libsrc4 -
f 644 root root /usr/include/irods/netcdf/libsrc4/  ./external/netcdf-4.3.2/libsrc4/*
d 755 root root /usr/include/irods/netcdf -
f 644 root root /usr/include/irods/netcdf/  ./external/netcdf-4.3.2/*
d 755 root root /usr/include/irods/netcdf/ncgen -
f 644 root root /usr/include/irods/netcdf/ncgen/  ./external/netcdf-4.3.2/ncgen/*
d 755 root root /usr/include/irods/netcdf/libsrc -
f 644 root root /usr/include/irods/netcdf/libsrc/  ./external/netcdf-4.3.2/libsrc/*



f 644 root root /usr/lib/irods/  ./external/boost_1_56_0/stage/lib/*.a
f 644 root root /usr/lib/irods/  ./external/check-0.9.13/src/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/check-0.9.13/lib/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/hdf5-1.8.13/src/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/hdf5-1.8.13/test/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/hdf5-1.8.13/tools/h5repack/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/hdf5-1.8.13/tools/lib/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/hdf5-1.8.13/hl/src/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/jansson-2.7/src/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/libarchive-3.1.2/libarchive/*.a
f 644 root root /usr/lib/irods/  ./external/netcdf-4.3.2/libdispatch/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/netcdf-4.3.2/oc2/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/netcdf-4.3.2/liblib/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/netcdf-4.3.2/libdap2/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/netcdf-4.3.2/libsrc4/.libs/*.a
f 644 root root /usr/lib/irods/  ./external/netcdf-4.3.2/libsrc/.libs/*.a












f 644 root root /usr/include/irods/libs3.h ./external/libs3-2.0/inc/libs3.h
f 644 root root /usr/lib/irods/libs3.a ./external/libs3-2.0/build/lib/libs3.a


f 644 root root /usr/lib/irods/libepm.a ./external/epm/libepm.a
f 755 root root /usr/bin/epm ./external/epm/epm
