# =-=-=-=-=-=-=-
# EPM Variables
# =-=-=-=-=-=-=-
%product iRODS - Development Library
%copyright 2012-2015 by Renaissance Computing Institute, All Rights Reserved.
%vendor Renaissance Computing Institute <info@irods.org>
%license LICENSE
%readme README.md
%description The integrated Rule-Oriented Data System
%version TEMPLATE_IRODSVERSION TEMPLATE_IRODSVERSIONINT


$LIBDIR=/usr/lib

$LIB_SRC=./iRODS/lib/development_libraries

# =-=-=-=-=-=-=-
# Required Packages for specific systems
# and
# Setting environment variables for EPM
# =-=-=-=-=-=-=-

%if DEBICAT
$DEB=true
$ICAT=true

%elseif DEBRESOURCE
$DEB=true
$RESOURCE=true

%elseif REDHATRPMICAT
$REDHAT=true
$RPM=true
$ICAT=true

%elseif SUSERPMICAT
$SUSE=true
$RPM=true
$ICAT=true

%elseif REDHATRPMRESOURCE
$REDHAT=true
$RPM=true
$RESOURCE=true

%elseif SUSERPMRESOURCE
$SUSE=true
$RPM=true
$RESOURCE=true

%elseif ARCHICAT
$ARCH=true
$ICAT=true

%elseif ARCHRESOURCE
$ARCH=true
$RESOURCE=true

%elseif OSXICAT
$OSX=true
$ICAT=true

%elseif OSXRESOURCE
$OSX=true
$RESOURCE=true

%endif


%if DEB
%requires libssl-dev
%endif

%if REDHAT
%requires openssl-devel
%endif

%if SUSE
%requires libopenssl-devel
%endif




%format all



# =-=-=-=-=-=-=-
# preinstall
# =-=-=-=-=-=-=-
#%preinstall



# =-=-=-=-=-=-=-
# post install
# =-=-=-=-=-=-=-
#%postinstall


# =-=-=-=-=-=-=-
# preremove
# =-=-=-=-=-=-=-
#%preremove




# =-=-=-=-=-=-=-
# post remove
# =-=-=-=-=-=-=-
#%postremove





# =-=-=-=-=-=-=-
# Full File Listing
# =-=-=-=-=-=-=-

d 755 root root ${LIBDIR}/irods -
d 755 root root ${LIBDIR}/irods/externals -


f 644 root root ${LIBDIR}/libRodsAPIs.a ./iRODS/lib/core/obj/libRodsAPIs.a
f 644 root root ${LIBDIR}/libirods_client_core.a ${LIB_SRC}/libirods_client_core.a
f 644 root root ${LIBDIR}/libirods_client_api_table.a ${LIB_SRC}/libirods_client_api_table.a
f 644 root root ${LIBDIR}/libirods_client_plugins.a ${LIB_SRC}/libirods_client_plugins.a

f 644 root root ${LIBDIR}/libirods_client.a ${LIB_SRC}/libirods_client.a
f 644 root root ${LIBDIR}/libirods_client_api.a ${LIB_SRC}/libirods_client_api.a
f 644 root root ${LIBDIR}/libirods_server.a ${LIB_SRC}/libirods_server.a

d 755 root root /usr/include/irods/ -
f 644 root root /usr/include/irods/ ./iRODS/lib/core/include/*
f 644 root root /usr/include/irods/ ./iRODS/lib/hasher/include/*
f 644 root root /usr/include/irods/ ./iRODS/lib/api/include/*
f 644 root root /usr/include/irods/ ./iRODS/lib/rbudp/include/*
f 644 root root /usr/include/irods/ ./iRODS/server/core/include/*
f 644 root root /usr/include/irods/ ./iRODS/server/icat/include/*
f 644 root root /usr/include/irods/ ./iRODS/server/re/include/*
f 644 root root /usr/include/irods/ ./iRODS/server/drivers/include/*

# These links are to support old header locations
l 644 root root /usr/include/irods/dataObjInpOut.hpp /usr/include/irods/dataObjInpOut.h
l 644 root root /usr/include/irods/getRodsEnv.hpp /usr/include/irods/getRodsEnv.h
l 644 root root /usr/include/irods/guiProgressCallback.hpp /usr/include/irods/guiProgressCallback.h
l 644 root root /usr/include/irods/obf.hpp /usr/include/irods/obf.h
l 644 root root /usr/include/irods/objInfo.hpp /usr/include/irods/objInfo.h
l 644 root root /usr/include/irods/osauth.hpp /usr/include/irods/osauth.h
l 644 root root /usr/include/irods/parseCommandLine.hpp /usr/include/irods/parseCommandLine.h
l 644 root root /usr/include/irods/rcConnect.hpp /usr/include/irods/rcConnect.h
l 644 root root /usr/include/irods/rods.hpp /usr/include/irods/rods.h
l 644 root root /usr/include/irods/rodsClient.hpp /usr/include/irods/rodsClient.h
l 644 root root /usr/include/irods/rodsError.hpp /usr/include/irods/rodsError.h
l 644 root root /usr/include/irods/rodsErrorTable.hpp /usr/include/irods/rodsErrorTable.h
l 644 root root /usr/include/irods/rodsGenQuery.hpp /usr/include/irods/rodsGenQuery.h
l 644 root root /usr/include/irods/rodsKeyWdDef.hpp /usr/include/irods/rodsKeyWdDef.h
l 644 root root /usr/include/irods/rodsLog.hpp /usr/include/irods/rodsLog.h
l 644 root root /usr/include/irods/rodsQuota.hpp /usr/include/irods/rodsQuota.h
l 644 root root /usr/include/irods/rodsType.hpp /usr/include/irods/rodsType.h
l 644 root root /usr/include/irods/rodsUser.hpp /usr/include/irods/rodsUser.h
l 644 root root /usr/include/irods/rodsVersion.hpp /usr/include/irods/rodsVersion.h
l 644 root root /usr/include/irods/rodsXmsg.hpp /usr/include/irods/rodsXmsg.h
l 644 root root /usr/include/irods/sslSockComm.hpp /usr/include/irods/sslSockComm.h
l 644 root root /usr/include/irods/stringOpr.hpp /usr/include/irods/stringOpr.h
l 644 root root /usr/include/irods/apiNumber.hpp /usr/include/irods/apiNumber.h
l 644 root root /usr/include/irods/objStat.hpp /usr/include/irods/objStat.h
l 644 root root /usr/include/irods/procApiRequest.hpp /usr/include/irods/procApiRequest.h
l 644 root root /usr/include/irods/rodsPackInstruct.hpp /usr/include/irods/rodsPackInstruct.h
l 644 root root /usr/include/irods/rodsPath.hpp /usr/include/irods/rodsPath.h
l 644 root root /usr/include/irods/sockComm.hpp /usr/include/irods/sockComm.h
l 644 root root /usr/include/irods/list.hpp /usr/include/irods/irods_list.h
l 644 root root /usr/include/irods/hashtable.hpp /usr/include/irods/irods_hashtable.h
l 644 root root /usr/include/irods/authRequest.hpp /usr/include/irods/authRequest.h
l 644 root root /usr/include/irods/authenticate.hpp /usr/include/irods/authenticate.h
l 644 root root /usr/include/irods/execCmd.hpp /usr/include/irods/execCmd.h
l 644 root root /usr/include/irods/base64.hpp /usr/include/irods/base64.h
l 644 root root /usr/include/irods/msParam.hpp /usr/include/irods/msParam.h
l 644 root root /usr/include/irods/packStruct.hpp /usr/include/irods/packStruct.h
l 644 root root /usr/include/irods/rcMisc.hpp /usr/include/irods/rcMisc.h
l 644 root root /usr/include/irods/rcPortalOpr.hpp /usr/include/irods/rcPortalOpr.h
l 644 root root /usr/include/irods/region.hpp /usr/include/irods/region.h
l 644 root root /usr/include/irods/reDefines.hpp /usr/include/irods/reDefines.h
l 644 root root /usr/include/irods/rodsGenQueryNames.hpp /usr/include/irods/rodsGenQueryNames.h
l 644 root root /usr/include/irods/rodsGeneralUpdate.hpp /usr/include/irods/rodsGeneralUpdate.h
l 644 root root /usr/include/irods/bunUtil.hpp /usr/include/irods/bunUtil.h
l 644 root root /usr/include/irods/chksumUtil.hpp /usr/include/irods/chksumUtil.h
l 644 root root /usr/include/irods/cpUtil.hpp /usr/include/irods/cpUtil.h
l 644 root root /usr/include/irods/fsckUtil.hpp /usr/include/irods/fsckUtil.h
l 644 root root /usr/include/irods/getUtil.hpp /usr/include/irods/getUtil.h
l 644 root root /usr/include/irods/lsUtil.hpp /usr/include/irods/lsUtil.h
l 644 root root /usr/include/irods/mcollUtil.hpp /usr/include/irods/mcollUtil.h
l 644 root root /usr/include/irods/miscUtil.hpp /usr/include/irods/miscUtil.h
l 644 root root /usr/include/irods/mkdirUtil.hpp /usr/include/irods/mkdirUtil.h
l 644 root root /usr/include/irods/mvUtil.hpp /usr/include/irods/mvUtil.h
l 644 root root /usr/include/irods/phybunUtil.hpp /usr/include/irods/phybunUtil.h
l 644 root root /usr/include/irods/phymvUtil.hpp /usr/include/irods/phymvUtil.h
l 644 root root /usr/include/irods/putUtil.hpp /usr/include/irods/putUtil.h
l 644 root root /usr/include/irods/regUtil.hpp /usr/include/irods/regUtil.h
l 644 root root /usr/include/irods/replUtil.hpp /usr/include/irods/replUtil.h
l 644 root root /usr/include/irods/rmtrashUtil.hpp /usr/include/irods/rmtrashUtil.h
l 644 root root /usr/include/irods/rmUtil.hpp /usr/include/irods/rmUtil.h
l 644 root root /usr/include/irods/rsyncUtil.hpp /usr/include/irods/rsyncUtil.h
l 644 root root /usr/include/irods/scanUtil.hpp /usr/include/irods/scanUtil.h
l 644 root root /usr/include/irods/trimUtil.hpp /usr/include/irods/trimUtil.h
l 644 root root /usr/include/irods/apiPackTable.hpp /usr/include/irods/apiPackTable.h
l 644 root root /usr/include/irods/authCheck.hpp /usr/include/irods/authCheck.h
l 644 root root /usr/include/irods/authPluginRequest.hpp /usr/include/irods/authPluginRequest.h
l 644 root root /usr/include/irods/authResponse.hpp /usr/include/irods/authResponse.h
l 644 root root /usr/include/irods/bulkDataObjPut.hpp /usr/include/irods/bulkDataObjPut.h
l 644 root root /usr/include/irods/bulkDataObjReg.hpp /usr/include/irods/bulkDataObjReg.h
l 644 root root /usr/include/irods/chkNVPathPerm.hpp /usr/include/irods/chkNVPathPerm.h
l 644 root root /usr/include/irods/chkObjPermAndStat.hpp /usr/include/irods/chkObjPermAndStat.h
l 644 root root /usr/include/irods/client_hints.hpp /usr/include/irods/client_hints.h
l 644 root root /usr/include/irods/closeCollection.hpp /usr/include/irods/closeCollection.h
l 644 root root /usr/include/irods/dataCopy.hpp /usr/include/irods/dataCopy.h
l 644 root root /usr/include/irods/dataGet.hpp /usr/include/irods/dataGet.h
l 644 root root /usr/include/irods/dataObjChksum.hpp /usr/include/irods/dataObjChksum.h
l 644 root root /usr/include/irods/dataObjClose.hpp /usr/include/irods/dataObjClose.h
l 644 root root /usr/include/irods/dataObjCopy.hpp /usr/include/irods/dataObjCopy.h
l 644 root root /usr/include/irods/dataObjCreate.hpp /usr/include/irods/dataObjCreate.h
l 644 root root /usr/include/irods/dataObjCreateAndStat.hpp /usr/include/irods/dataObjCreateAndStat.h
l 644 root root /usr/include/irods/dataObjGet.hpp /usr/include/irods/dataObjGet.h
l 644 root root /usr/include/irods/dataObjLock.hpp /usr/include/irods/dataObjLock.h
l 644 root root /usr/include/irods/dataObjLseek.hpp /usr/include/irods/dataObjLseek.h
l 644 root root /usr/include/irods/dataObjOpen.hpp /usr/include/irods/dataObjOpen.h
l 644 root root /usr/include/irods/dataObjOpenAndStat.hpp /usr/include/irods/dataObjOpenAndStat.h
l 644 root root /usr/include/irods/dataObjPhymv.hpp /usr/include/irods/dataObjPhymv.h
l 644 root root /usr/include/irods/dataObjPut.hpp /usr/include/irods/dataObjPut.h
l 644 root root /usr/include/irods/dataObjRead.hpp /usr/include/irods/dataObjRead.h
l 644 root root /usr/include/irods/dataObjRename.hpp /usr/include/irods/dataObjRename.h
l 644 root root /usr/include/irods/dataObjRepl.hpp /usr/include/irods/dataObjRepl.h
l 644 root root /usr/include/irods/dataObjRsync.hpp /usr/include/irods/dataObjRsync.h
l 644 root root /usr/include/irods/dataObjTrim.hpp /usr/include/irods/dataObjTrim.h
l 644 root root /usr/include/irods/dataObjTruncate.hpp /usr/include/irods/dataObjTruncate.h
l 644 root root /usr/include/irods/dataObjUnlink.hpp /usr/include/irods/dataObjUnlink.h
l 644 root root /usr/include/irods/dataObjWrite.hpp /usr/include/irods/dataObjWrite.h
l 644 root root /usr/include/irods/dataPut.hpp /usr/include/irods/dataPut.h
l 644 root root /usr/include/irods/rcGlobal.hpp /usr/include/irods/rcGlobal.h
l 644 root root /usr/include/irods/rcGlobalExtern.hpp /usr/include/irods/rcGlobalExtern.h
l 644 root root /usr/include/irods/rodsPackTable.hpp /usr/include/irods/rodsPackTable.h
l 644 root root /usr/include/irods/icatDefines.hpp /usr/include/irods/icatDefines.h
l 644 root root /usr/include/irods/collCreate.hpp /usr/include/irods/collCreate.h
l 644 root root /usr/include/irods/collRepl.hpp /usr/include/irods/collRepl.h
l 644 root root /usr/include/irods/endTransaction.hpp /usr/include/irods/endTransaction.h
l 644 root root /usr/include/irods/execMyRule.hpp /usr/include/irods/execMyRule.h
l 644 root root /usr/include/irods/fileChksum.hpp /usr/include/irods/fileChksum.h
l 644 root root /usr/include/irods/fileChmod.hpp /usr/include/irods/fileChmod.h
l 644 root root /usr/include/irods/fileClose.hpp /usr/include/irods/fileClose.h
l 644 root root /usr/include/irods/fileClosedir.hpp /usr/include/irods/fileClosedir.h
l 644 root root /usr/include/irods/fileCreate.hpp /usr/include/irods/fileCreate.h
l 644 root root /usr/include/irods/fileGet.hpp /usr/include/irods/fileGet.h
l 644 root root /usr/include/irods/fileGetFsFreeSpace.hpp /usr/include/irods/fileGetFsFreeSpace.h
l 644 root root /usr/include/irods/fileLseek.hpp /usr/include/irods/fileLseek.h
l 644 root root /usr/include/irods/fileMkdir.hpp /usr/include/irods/fileMkdir.h
l 644 root root /usr/include/irods/fileOpen.hpp /usr/include/irods/fileOpen.h
l 644 root root /usr/include/irods/fileOpendir.hpp /usr/include/irods/fileOpendir.h
l 644 root root /usr/include/irods/filePut.hpp /usr/include/irods/filePut.h
l 644 root root /usr/include/irods/fileRead.hpp /usr/include/irods/fileRead.h
l 644 root root /usr/include/irods/fileReaddir.hpp /usr/include/irods/fileReaddir.h
l 644 root root /usr/include/irods/fileRename.hpp /usr/include/irods/fileRename.h
l 644 root root /usr/include/irods/fileRmdir.hpp /usr/include/irods/fileRmdir.h
l 644 root root /usr/include/irods/fileStageToCache.hpp /usr/include/irods/fileStageToCache.h
l 644 root root /usr/include/irods/fileStat.hpp /usr/include/irods/fileStat.h
l 644 root root /usr/include/irods/fileSyncToArch.hpp /usr/include/irods/fileSyncToArch.h
l 644 root root /usr/include/irods/fileTruncate.hpp /usr/include/irods/fileTruncate.h
l 644 root root /usr/include/irods/fileUnlink.hpp /usr/include/irods/fileUnlink.h
l 644 root root /usr/include/irods/fileWrite.hpp /usr/include/irods/fileWrite.h
l 644 root root /usr/include/irods/genQuery.hpp /usr/include/irods/genQuery.h
l 644 root root /usr/include/irods/generalAdmin.hpp /usr/include/irods/generalAdmin.h
l 644 root root /usr/include/irods/generalRowInsert.hpp /usr/include/irods/generalRowInsert.h
l 644 root root /usr/include/irods/generalRowPurge.hpp /usr/include/irods/generalRowPurge.h
l 644 root root /usr/include/irods/generalUpdate.hpp /usr/include/irods/generalUpdate.h
l 644 root root /usr/include/irods/getHierarchyForResc.hpp /usr/include/irods/getHierarchyForResc.h
l 644 root root /usr/include/irods/getHostForGet.hpp /usr/include/irods/getHostForGet.h
l 644 root root /usr/include/irods/getHostForPut.hpp /usr/include/irods/getHostForPut.h
l 644 root root /usr/include/irods/getLimitedPassword.hpp /usr/include/irods/getLimitedPassword.h
l 644 root root /usr/include/irods/getMiscSvrInfo.hpp /usr/include/irods/getMiscSvrInfo.h
l 644 root root /usr/include/irods/getRemoteZoneResc.hpp /usr/include/irods/getRemoteZoneResc.h
l 644 root root /usr/include/irods/getRescQuota.hpp /usr/include/irods/getRescQuota.h
l 644 root root /usr/include/irods/getTempPassword.hpp /usr/include/irods/getTempPassword.h
l 644 root root /usr/include/irods/getTempPasswordForOther.hpp /usr/include/irods/getTempPasswordForOther.h
l 644 root root /usr/include/irods/getXmsgTicket.hpp /usr/include/irods/getXmsgTicket.h
l 644 root root /usr/include/irods/subStructFileClose.hpp /usr/include/irods/subStructFileClose.h
l 644 root root /usr/include/irods/subStructFileClosedir.hpp /usr/include/irods/subStructFileClosedir.h
l 644 root root /usr/include/irods/subStructFileCreate.hpp /usr/include/irods/subStructFileCreate.h
l 644 root root /usr/include/irods/subStructFileGet.hpp /usr/include/irods/subStructFileGet.h
l 644 root root /usr/include/irods/subStructFileLseek.hpp /usr/include/irods/subStructFileLseek.h
l 644 root root /usr/include/irods/subStructFileMkdir.hpp /usr/include/irods/subStructFileMkdir.h
l 644 root root /usr/include/irods/subStructFileOpen.hpp /usr/include/irods/subStructFileOpen.h
l 644 root root /usr/include/irods/subStructFileOpendir.hpp /usr/include/irods/subStructFileOpendir.h
l 644 root root /usr/include/irods/subStructFilePut.hpp /usr/include/irods/subStructFilePut.h
l 644 root root /usr/include/irods/subStructFileRead.hpp /usr/include/irods/subStructFileRead.h
l 644 root root /usr/include/irods/subStructFileReaddir.hpp /usr/include/irods/subStructFileReaddir.h
l 644 root root /usr/include/irods/subStructFileRename.hpp /usr/include/irods/subStructFileRename.h
l 644 root root /usr/include/irods/subStructFileRmdir.hpp /usr/include/irods/subStructFileRmdir.h
l 644 root root /usr/include/irods/subStructFileStat.hpp /usr/include/irods/subStructFileStat.h
l 644 root root /usr/include/irods/subStructFileTruncate.hpp /usr/include/irods/subStructFileTruncate.h
l 644 root root /usr/include/irods/subStructFileUnlink.hpp /usr/include/irods/subStructFileUnlink.h
l 644 root root /usr/include/irods/subStructFileWrite.hpp /usr/include/irods/subStructFileWrite.h
l 644 root root /usr/include/irods/ies_client_hints.hpp /usr/include/irods/ies_client_hints.h
l 644 root root /usr/include/irods/l3FileGetSingleBuf.hpp /usr/include/irods/l3FileGetSingleBuf.h
l 644 root root /usr/include/irods/l3FilePutSingleBuf.hpp /usr/include/irods/l3FilePutSingleBuf.h
l 644 root root /usr/include/irods/modAVUMetadata.hpp /usr/include/irods/modAVUMetadata.h
l 644 root root /usr/include/irods/modAccessControl.hpp /usr/include/irods/modAccessControl.h
l 644 root root /usr/include/irods/modColl.hpp /usr/include/irods/modColl.h
l 644 root root /usr/include/irods/modDataObjMeta.hpp /usr/include/irods/modDataObjMeta.h
l 644 root root /usr/include/irods/openCollection.hpp /usr/include/irods/openCollection.h
l 644 root root /usr/include/irods/oprComplete.hpp /usr/include/irods/oprComplete.h
l 644 root root /usr/include/irods/pamAuthRequest.hpp /usr/include/irods/pamAuthRequest.h
l 644 root root /usr/include/irods/phyBundleColl.hpp /usr/include/irods/phyBundleColl.h
l 644 root root /usr/include/irods/phyPathReg.hpp /usr/include/irods/phyPathReg.h
l 644 root root /usr/include/irods/procStat.hpp /usr/include/irods/procStat.h
l 644 root root /usr/include/irods/querySpecColl.hpp /usr/include/irods/querySpecColl.h
l 644 root root /usr/include/irods/rcvXmsg.hpp /usr/include/irods/rcvXmsg.h
l 644 root root /usr/include/irods/readCollection.hpp /usr/include/irods/readCollection.h
l 644 root root /usr/include/irods/regColl.hpp /usr/include/irods/regColl.h
l 644 root root /usr/include/irods/regDataObj.hpp /usr/include/irods/regDataObj.h
l 644 root root /usr/include/irods/regReplica.hpp /usr/include/irods/regReplica.h
l 644 root root /usr/include/irods/rmColl.hpp /usr/include/irods/rmColl.h
l 644 root root /usr/include/irods/ruleExecDel.hpp /usr/include/irods/ruleExecDel.h
l 644 root root /usr/include/irods/ruleExecMod.hpp /usr/include/irods/ruleExecMod.h
l 644 root root /usr/include/irods/ruleExecSubmit.hpp /usr/include/irods/ruleExecSubmit.h
l 644 root root /usr/include/irods/sendXmsg.hpp /usr/include/irods/sendXmsg.h
l 644 root root /usr/include/irods/server_report.hpp /usr/include/irods/server_report.h
l 644 root root /usr/include/irods/simpleQuery.hpp /usr/include/irods/simpleQuery.h
l 644 root root /usr/include/irods/specificQuery.hpp /usr/include/irods/specificQuery.h
l 644 root root /usr/include/irods/sslEnd.hpp /usr/include/irods/sslEnd.h
l 644 root root /usr/include/irods/sslStart.hpp /usr/include/irods/sslStart.h
l 644 root root /usr/include/irods/streamClose.hpp /usr/include/irods/streamClose.h
l 644 root root /usr/include/irods/streamRead.hpp /usr/include/irods/streamRead.h
l 644 root root /usr/include/irods/structFileBundle.hpp /usr/include/irods/structFileBundle.h
l 644 root root /usr/include/irods/structFileExtAndReg.hpp /usr/include/irods/structFileExtAndReg.h
l 644 root root /usr/include/irods/structFileExtract.hpp /usr/include/irods/structFileExtract.h
l 644 root root /usr/include/irods/structFileSync.hpp /usr/include/irods/structFileSync.h
l 644 root root /usr/include/irods/syncMountedColl.hpp /usr/include/irods/syncMountedColl.h
l 644 root root /usr/include/irods/ticketAdmin.hpp /usr/include/irods/ticketAdmin.h
l 644 root root /usr/include/irods/unbunAndRegPhyBunfile.hpp /usr/include/irods/unbunAndRegPhyBunfile.h
l 644 root root /usr/include/irods/unregDataObj.hpp /usr/include/irods/unregDataObj.h
l 644 root root /usr/include/irods/userAdmin.hpp /usr/include/irods/userAdmin.h
l 644 root root /usr/include/irods/zone_report.hpp /usr/include/irods/zone_report.h
l 644 root root /usr/include/irods/apiHeaderAll.hpp /usr/include/irods/apiHeaderAll.h
l 644 root root /usr/include/irods/QUANTAnet_rbudpBase_c.hpp /usr/include/irods/QUANTAnet_rbudpBase_c.h
l 644 root root /usr/include/irods/QUANTAnet_rbudpSender_c.hpp /usr/include/irods/QUANTAnet_rbudpSender_c.h
l 644 root root /usr/include/irods/QUANTAnet_rbudpReceiver_c.hpp /usr/include/irods/QUANTAnet_rbudpReceiver_c.h

d 755 root root /usr/share/irods/ -
d 755 root root /usr/share/irods/examples
d 755 root root /usr/share/irods/examples/microservices
d 755 root root /usr/share/irods/examples/resources
f 644 root root /usr/share/irods/examples/microservices ./examples/microservices/*
f 644 root root /usr/share/irods/examples/resources ./examples/resources/*
f 644 root root /usr/share/irods/examples/resources/libpassthru.cpp ./plugins/resources/passthru/libpassthru.cpp




d 755 root root /usr/include/irods/check/src -
f 644 root root /usr/include/irods/check/src/  ./external/check-0.9.13/src/*
d 755 root root /usr/include/irods/check/tests -
f 644 root root /usr/include/irods/check/tests/  ./external/check-0.9.13/tests/*
d 755 root root /usr/include/irods/check -
f 644 root root /usr/include/irods/check/  ./external/check-0.9.13/*
d 755 root root /usr/include/irods/check/lib -
f 644 root root /usr/include/irods/check/lib/  ./external/check-0.9.13/lib/*
d 755 root root /usr/include/irods/check/doc/example/src -
f 644 root root /usr/include/irods/check/doc/example/src/  ./external/check-0.9.13/doc/example/src/*
d 755 root root /usr/include/irods/check -
f 644 root root /usr/include/irods/check/  ./external/check-0.9.13/*




d 755 root root /usr/include/irods/hdf5/src -
f 644 root root /usr/include/irods/hdf5/src/  ./external/hdf5-1.8.14/src/*
d 755 root root /usr/include/irods/hdf5/c++/src -
f 644 root root /usr/include/irods/hdf5/c++/src/  ./external/hdf5-1.8.14/c++/src/*
d 755 root root /usr/include/irods/hdf5/c++/test -
f 644 root root /usr/include/irods/hdf5/c++/test/  ./external/hdf5-1.8.14/c++/test/*
d 755 root root /usr/include/irods/hdf5/perform -
f 644 root root /usr/include/irods/hdf5/perform/  ./external/hdf5-1.8.14/perform/*
d 755 root root /usr/include/irods/hdf5/vms/src -
f 644 root root /usr/include/irods/hdf5/vms/src/  ./external/hdf5-1.8.14/vms/src/*
d 755 root root /usr/include/irods/hdf5/vms/c++/test -
f 644 root root /usr/include/irods/hdf5/vms/c++/test/  ./external/hdf5-1.8.14/vms/c++/test/*
d 755 root root /usr/include/irods/hdf5/vms/test -
f 644 root root /usr/include/irods/hdf5/vms/test/  ./external/hdf5-1.8.14/vms/test/*
d 755 root root /usr/include/irods/hdf5/test -
f 644 root root /usr/include/irods/hdf5/test/  ./external/hdf5-1.8.14/test/*
d 755 root root /usr/include/irods/hdf5/tools/h5repack -
f 644 root root /usr/include/irods/hdf5/tools/h5repack/  ./external/hdf5-1.8.14/tools/h5repack/*
d 755 root root /usr/include/irods/hdf5/tools/h5import -
f 644 root root /usr/include/irods/hdf5/tools/h5import/  ./external/hdf5-1.8.14/tools/h5import/*
d 755 root root /usr/include/irods/hdf5/tools/h5diff -
f 644 root root /usr/include/irods/hdf5/tools/h5diff/  ./external/hdf5-1.8.14/tools/h5diff/*
d 755 root root /usr/include/irods/hdf5/tools/lib -
f 644 root root /usr/include/irods/hdf5/tools/lib/  ./external/hdf5-1.8.14/tools/lib/*
d 755 root root /usr/include/irods/hdf5/tools/h5dump -
f 644 root root /usr/include/irods/hdf5/tools/h5dump/  ./external/hdf5-1.8.14/tools/h5dump/*
d 755 root root /usr/include/irods/hdf5/testpar -
f 644 root root /usr/include/irods/hdf5/testpar/  ./external/hdf5-1.8.14/testpar/*
d 755 root root /usr/include/irods/hdf5/fortran/src -
f 644 root root /usr/include/irods/hdf5/fortran/src/  ./external/hdf5-1.8.14/fortran/src/*
d 755 root root /usr/include/irods/hdf5/fortran/test -
f 644 root root /usr/include/irods/hdf5/fortran/test/  ./external/hdf5-1.8.14/fortran/test/*
d 755 root root /usr/include/irods/hdf5/hl/src -
f 644 root root /usr/include/irods/hdf5/hl/src/  ./external/hdf5-1.8.14/hl/src/*
d 755 root root /usr/include/irods/hdf5/hl/c++/src -
f 644 root root /usr/include/irods/hdf5/hl/c++/src/  ./external/hdf5-1.8.14/hl/c++/src/*
d 755 root root /usr/include/irods/hdf5/hl/c++/test -
f 644 root root /usr/include/irods/hdf5/hl/c++/test/  ./external/hdf5-1.8.14/hl/c++/test/*
d 755 root root /usr/include/irods/hdf5/hl/test -
f 644 root root /usr/include/irods/hdf5/hl/test/  ./external/hdf5-1.8.14/hl/test/*
d 755 root root /usr/include/irods/hdf5/hl/tools/gif2h5 -
f 644 root root /usr/include/irods/hdf5/hl/tools/gif2h5/  ./external/hdf5-1.8.14/hl/tools/gif2h5/*
d 755 root root /usr/include/irods/hdf5/hl/fortran/src -
f 644 root root /usr/include/irods/hdf5/hl/fortran/src/  ./external/hdf5-1.8.14/hl/fortran/src/*
d 755 root root /usr/include/irods/hdf5/hl/examples -
f 644 root root /usr/include/irods/hdf5/hl/examples/  ./external/hdf5-1.8.14/hl/examples/*




d 755 root root /usr/include/irods/jansson/src -
f 644 root root /usr/include/irods/jansson/src/  ./external/jansson-2.7/src/*
d 755 root root /usr/include/irods/jansson -
f 644 root root /usr/include/irods/jansson/  ./external/jansson-2.7/*
d 755 root root /usr/include/irods/jansson/test/suites/api -
f 644 root root /usr/include/irods/jansson/test/suites/api/  ./external/jansson-2.7/test/suites/api/*
d 755 root root /usr/include/irods/jansson/android -
f 644 root root /usr/include/irods/jansson/android/  ./external/jansson-2.7/android/*




d 755 root root /usr/include/irods/libarchive/contrib/shar -
f 644 root root /usr/include/irods/libarchive/contrib/shar/  ./external/libarchive-3.1.2/contrib/shar/*
d 755 root root /usr/include/irods/libarchive/tar -
f 644 root root /usr/include/irods/libarchive/tar/  ./external/libarchive-3.1.2/tar/*
d 755 root root /usr/include/irods/libarchive/tar/test -
f 644 root root /usr/include/irods/libarchive/tar/test/  ./external/libarchive-3.1.2/tar/test/*
d 755 root root /usr/include/irods/libarchive/tar -
f 644 root root /usr/include/irods/libarchive/tar/  ./external/libarchive-3.1.2/tar/*
d 755 root root /usr/include/irods/libarchive -
f 644 root root /usr/include/irods/libarchive/  ./external/libarchive-3.1.2/*
d 755 root root /usr/include/irods/libarchive/cpio -
f 644 root root /usr/include/irods/libarchive/cpio/  ./external/libarchive-3.1.2/cpio/*
d 755 root root /usr/include/irods/libarchive/cpio/test -
f 644 root root /usr/include/irods/libarchive/cpio/test/  ./external/libarchive-3.1.2/cpio/test/*
d 755 root root /usr/include/irods/libarchive/libarchive -
f 644 root root /usr/include/irods/libarchive/libarchive/  ./external/libarchive-3.1.2/libarchive/*
d 755 root root /usr/include/irods/libarchive/libarchive/test -
f 644 root root /usr/include/irods/libarchive/libarchive/test/  ./external/libarchive-3.1.2/libarchive/test/*
d 755 root root /usr/include/irods/libarchive/libarchive -
f 644 root root /usr/include/irods/libarchive/libarchive/  ./external/libarchive-3.1.2/libarchive/*
d 755 root root /usr/include/irods/libarchive/libarchive_fe -
f 644 root root /usr/include/irods/libarchive/libarchive_fe/  ./external/libarchive-3.1.2/libarchive_fe/*
d 755 root root /usr/include/irods/libarchive/test_utils -
f 644 root root /usr/include/irods/libarchive/test_utils/  ./external/libarchive-3.1.2/test_utils/*





d 755 root root /usr/include/irods/netcdf/libdispatch -
f 644 root root /usr/include/irods/netcdf/libdispatch/  ./external/netcdf-4.3.2/libdispatch/*
d 755 root root /usr/include/irods/netcdf/nctest -
f 644 root root /usr/include/irods/netcdf/nctest/  ./external/netcdf-4.3.2/nctest/*
d 755 root root /usr/include/irods/netcdf/oc2 -
f 644 root root /usr/include/irods/netcdf/oc2/  ./external/netcdf-4.3.2/oc2/*
d 755 root root /usr/include/irods/netcdf/ncgen3 -
f 644 root root /usr/include/irods/netcdf/ncgen3/  ./external/netcdf-4.3.2/ncgen3/*
d 755 root root /usr/include/irods/netcdf/nc_test -
f 644 root root /usr/include/irods/netcdf/nc_test/  ./external/netcdf-4.3.2/nc_test/*
d 755 root root /usr/include/irods/netcdf/include -
f 644 root root /usr/include/irods/netcdf/include/  ./external/netcdf-4.3.2/include/*
d 755 root root /usr/include/irods/netcdf/ncdump -
f 644 root root /usr/include/irods/netcdf/ncdump/  ./external/netcdf-4.3.2/ncdump/*
d 755 root root /usr/include/irods/netcdf/libdap2 -
f 644 root root /usr/include/irods/netcdf/libdap2/  ./external/netcdf-4.3.2/libdap2/*
d 755 root root /usr/include/irods/netcdf/h5_test -
f 644 root root /usr/include/irods/netcdf/h5_test/  ./external/netcdf-4.3.2/h5_test/*
d 755 root root /usr/include/irods/netcdf/libsrc4 -
f 644 root root /usr/include/irods/netcdf/libsrc4/  ./external/netcdf-4.3.2/libsrc4/*
d 755 root root /usr/include/irods/netcdf -
f 644 root root /usr/include/irods/netcdf/  ./external/netcdf-4.3.2/*
d 755 root root /usr/include/irods/netcdf/ncgen -
f 644 root root /usr/include/irods/netcdf/ncgen/  ./external/netcdf-4.3.2/ncgen/*
d 755 root root /usr/include/irods/netcdf/libsrc -
f 644 root root /usr/include/irods/netcdf/libsrc/  ./external/netcdf-4.3.2/libsrc/*



f 644 root root ${LIBDIR}/irods/externals/  ./external/boost_1_58_0z/stage/lib/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/check-0.9.13/src/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/check-0.9.13/lib/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/hdf5-1.8.14/src/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/hdf5-1.8.14/test/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/hdf5-1.8.14/tools/h5repack/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/hdf5-1.8.14/tools/lib/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/hdf5-1.8.14/hl/src/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/jansson-2.7/src/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/libarchive-3.1.2/libarchive/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/netcdf-4.3.2/libdispatch/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/netcdf-4.3.2/oc2/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/netcdf-4.3.2/liblib/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/netcdf-4.3.2/libdap2/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/netcdf-4.3.2/libsrc4/.libs/*.a
f 644 root root ${LIBDIR}/irods/externals/  ./external/netcdf-4.3.2/libsrc/.libs/*.a




f 644 root root /usr/include/irods/libs3.h ./external/libs3-a30e55e8/inc/libs3.h
f 644 root root ${LIBDIR}/irods/externals/libs3.a ./external/libs3-a30e55e8/build/lib/libs3.a


f 644 root root ${LIBDIR}/irods/externals/libepm.a ./external/epm/libepm.a
f 755 root root /usr/bin/epm ./external/epm/epm

%include ./packaging/boost-include.list
