[Unit]
Description=iRODS
After=network.target

[Service]
Type=notify-reload
ExecStart=/usr/sbin/irodsServer
KillMode=mixed
Restart=on-failure
User=irods
Group=irods
WorkingDirectory=/var/lib/irods
LimitNOFILE=1048576
RuntimeDirectory=irods

[Install]
WantedBy=multi-user.target
