name: build-irods
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Get Public IP
        run:  |
              dig +short myip.opendns.com @resolver1.opendns.com
      - name: Install Dependencies
        run:  |
              sudo apt-get update -qq
              sudo apt-get install -qq wget curl g++ make python-dev help2man unixodbc libcurl4-gnutls-dev libbz2-dev zlib1g-dev libpam0g-dev libssl-dev libxml2-dev unixodbc-dev python-psutil super odbc-postgresql libkrb5-dev
      - name: Install libstdc++6
        run:  |
              sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
              sudo apt-get update -qq
              sudo apt-get install -qq libstdc++6
      - name: Install iRODS Externals
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 3
          max_attempts: 10
          command: |
              wget -qO - https://unstable.irods.org/irods-unstable-signing-key.asc | sudo apt-key add -
              echo "deb [arch=amd64] https://unstable.irods.org/apt/ $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/renci-irods-unstable.list
              sudo apt-get update -qq
              sudo apt-get install -qq irods-externals-*
      - name: Configure CMake
        run:  |
              export PATH=/opt/irods-externals/cmake3.11.4-0/bin:$PATH
              mkdir build
              cd build
              cmake -DIRODS_DISABLE_COMPILER_OPTIMIZATIONS=ON ../
      - name: Build and Package
        run:  |
              cd build
              make package
